---
import { type Cost } from '../types/steps';
interface Costos extends Cost {}
interface Props {
    costTitle?: string;
	adicionalMessage?: string;
	cost?: Costos[];
}
const { costTitle, adicionalMessage, cost } = Astro.props;
---

<div class='bg-[#F9FAFB] px-3 py-5'>
	<h3 class='text-sm font-semibold text-[#34353B]'>{costTitle}</h3>
    <ul class='flex flex-col gap-y-2 my-2'>
        {cost?.map((cost) => (
            <li class='flex justify-between items-center'>
                <p class='text-[#444D65] text-sm'>{cost.type}</p>
                <p class='text-[#1F7EBE] text-sm font-semibold'>S/. {cost.price}</p>
            </li>
        ))}
    </ul>
	<span class='text-xs font-semibold italic text-[#34353B]'>{adicionalMessage}</span>
</div>
