---
import '@fontsource-variable/inter';
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Requisitos from "../components/Requisitos.astro";
import Steps from "../components/Steps.astro";
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<!-- Precargar una imagen -->
		<link rel='preload' href='src/assets/hero_img.webp' as='image' type="image/webp" fetchpriority="high" />
		<meta name='generator' content={Astro.generator} />
		<title>Trámite de Licencia</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<Requisitos />
		<Steps />
		<Footer />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		height: 100vh;
		font-family: 'Inter', sans-serif;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	ul,
	ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button,
	input,
	textarea {
		font: inherit;
		border: none;
		background: none;
		outline: none;
	}
</style>
